<!DOCTYPE html>
<html lang="en, ru">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>
      <a href="./en/index.ejs">English version of site</a>
    </p>
    <p>
      <a href="./ru/index.ejs">Русская версия сайта</a>
    </p>
  </body>
</html>
