<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home / B6D.ru</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body><%- include("en/partials/header.ejs") %>
    <p>Hello world! I don't know what to type here.</p>
  </body>
</html>
