<nav><table border="1" float:left; width="100%" height="32"><tr>
      <td><a href="./index.ejs">B6D.ru</a></td>
      <td><a href="../en/index.ejs">Англ.</a></td>
      <td><a href="./usr.ejs">Пользователи</a></td>
      <td><a href="./res.ejs">Ресурсы</a></td>
<td width="75%">&nbsp;</td></tr></table></nav>