<nav><table border="1" float:left; width="100%" height="32"><tr>
      <td><a href="./index.ejs">B6D.ru</a></td>
      <td><a href="../ru/index.ejs">RU</a></td>
      <td><a href="./users.ejs">Users</a></td>
      <td><a href="./res.ejs">Resources</a></td>
<td width="75%">&nbsp;</td></tr></table></nav>